*{
	margin: 0px;
	padding: 0px;
	font-family: century gothic;
	color: white;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("1.png");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 20px
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid white;
	border-radius: 20px;
}
ul li a:hover{
	background-color: orange;
	color: black;
}
ul li.active a{
	background-color:white;
	color: black;
	}
.button{
	position: absolute;
	top: 65%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
.btn:hover {
	background-color: orange;
	color: black;
}
.demo-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
  /* position: relative; */
}
.demo-4 input#search{
  width: 285px;
  height: 50px;
  background: rgba(0,0,0,0.3);
  border: none;
  font-size: 10pt;
  float: left;
    color: #ffffff;
  padding-left: 15px;
  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.demo-4 input#search::-webkit-input-placeholder {
   color: #ffffff;
}
.demo-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
.demo-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
.demo-4 input#search:-ms-input-placeholder {  
   color: #ffffff;  
}

.demo-4 button.icon{
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

  /* ANIMATION EFFECT SEARCH ENGINE */
  .demo-4:hover button.icon, .demo-4:active button.icon, .demo-4:focus button.icon{
    outline:none;
    opacity: 1;
    margin-left: -50px;
  }
